<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Change</button>
</form>



<style>
            body {
            font-family: Arial, sans-serif;
            background-color: #eff0f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        #messages {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 20px;
            max-height: 400px;
            overflow-y: auto;
        }

        #messages p {
            margin: 10px 0;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #ccc;
            background-color: #f5f5f5;
            position: relative;
        }

        #messages p b {
            color: #007bff;
        }

        #messages img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .message-delete {
            position: absolute;
            top: 5px;
            right: 5px;
            color: #999;
            cursor: pointer;
        }

        .message-delete:hover {
            color: #333;
        }

        form {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
        }

        form textarea {
            width: calc(100% - 10px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            resize: none;
            margin-bottom: 10px;
        }

        form button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 10px;
        }

        form button:hover {
            background-color: #0056b3;
        }

        form button i {
            margin-right: 5px;
        }
</style>